{% extends 'base.html.twig' %}

{% block title %}Fadhel Ali{% endblock %}
{% block stylesheets %}
<style>
{
    margin: 0;
    padding: 0
}

body {
    background-color: #000
}

.card {
    width: 350px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s
}

.image img {
    transition: all 0.5s
}

.card:hover .image img {
    transform: scale(1.5)
}

.btn {
    height: 140px;
    width: 140px;
    border-radius: 50%
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600
}

.idd1 {
    font-size: 12px
}

.number {
    font-size: 22px;
    font-weight: bold
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #000;
    color: #aeaeae;
    font-size: 15px
}

.text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
}

.date {
    background-color: #ccc
}




</style>



{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center"> <button class="btn btn-secondary"> <img src="https://media-exp1.licdn.com/dms/image/C5603AQFw0fZMojkRcQ/profile-displayphoto-shrink_100_100/0/1606255557893?e=1654128000&v=beta&t=ZTAO3ceQTzVdk1pkCAMXLFJVEtQHxgFbXzwgBgnVHvw" height="100" width="100" /></button> <span class="name mt-3">Fadhel Ali</span> <span class="idd">@software Engineer</span>
            <div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span class="idd1">Hosteur.com</span> <span><i class="fa fa-copy"></i></span> </div>
            <div class="d-flex flex-row justify-content-center align-items-center mt-3"> <span class="number">1069 <span class="follow">Followers</span></span> </div>
            <div class=" d-flex mt-2"> <button class="btn1 btn-dark">Edit Profile</button> </div>
            <div class="text mt-3"> <span>Fadhel Ali is web developper and web designer with long time experience in fields<br><br> Engineer/ Developper on @Hosteur. </span> </div>
            <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> <span><i class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span> </div>
            <div class=" px-2 rounded mt-4 date "> <span class="join">Joined JAN,2022</span> </div>
        </div>
    </div>
</div>

            <h1 class="mb-5">Les chiffres du COVID-19 par département dans les deux derniere annéé</h1>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				<div class="col">
					<div class="card shadow-sm h-100">
						<div class="card-body">
							<h5 class="card-title">Nombre d’hospitalisations</h5>
							<p class="card-text">Nombre de personnes actuellement hospitalisée</p>
						</div>
                        <h3 class="card-footer bg-warning text-dark mx-2 rounded-pill">{{ data.records.0.fields.tot_hosp }}</h3>
					</div>
				</div>

                <div class="col">
					<div class="card shadow-sm">
						<div class="card-body">
							<h5 class="card-title">Nombre de Réa</h5>
							<p class="card-text">Nombre de personnes actuellement en réanimation</p>
						</div>
                        <h3 class="card-footer bg-warning text-dark mx-2 rounded-pill">{{  data.records.0.fields.tot_recovered }}</h3>
					</div>
				</div>

                <div class="col">
					<div class="card shadow-sm">
						<div class="card-body">
							<h5 class="card-title">Nombre total de décès 😥</h5>
							<p class="card-text">Nombre de personnes décédés depuis le début de la pandémie</p>
						</div>
                        <h3 class="card-footer bg-dark text-light mx-2 rounded-pill">{{ data.records.0.fields.tot_death_hosp }}</h3>
					</div>
				</div>

                <div class="col">
					<div class="card shadow-sm">
						<div class="card-body">
							<h5 class="card-title">Nombre totale de guéris</h5>
							<p class="card-text">Nombre de personnes guéris depuis le début de la pandémie</p>
						</div>
                        <h3 class="card-footer bg-success text-dark mx-2 rounded-pill">{{  data.records.0.fields.tot_hosp }}</h3>
					</div>
				</div>

                <div class="col">
					<div class="card shadow-sm">
						<div class="card-body">
							<h5 class="card-title">Nombre de cas confirmés</h5>
							<p class="card-text">Nombre de cas confirmés depuis le début de la pandémie</p>
						</div>
                        <h3 class="card-footer bg-info text-dark mx-2 rounded-pill">{{ data.records.0.fields.tot_icu }}</h3>
					</div>
				</div>

                <div class="col">
					<div class="card shadow-sm">
						<div class="card-body">
							<h5 class="card-title">Source des données</h5>
							<p class="card-text">Source des données :<br>{{  data.records.0.datasetid }}</p>
						</div>
                        <h3 class="card-footer bg-secondary text-grey mx-2 rounded-pill">{{  data.records.0.datasetid }}</h3>
					</div>
				</div>
                	<div class="album py-5">
		<div class="container">
            <h1 class="mb-5">Les chiffres du COVID-19 par département</h1>

			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				{% for department in data.facet_groups[0].facets %}
					<div class="col">
						<div class="card shadow-lg h-100 m-6">
							<div class="card-body">
								<h5 class="card-title">{{ department.name }}</h5>
								<p class="card-text">Actuellement hospitalisée<span class="badge bg-secondary">{{ department.count }}</span></p>
								<p class="card-text">Actuellement en réa<span class="badge bg-secondary">{{ department.state}}</span></p>
								<a href="#" class="btn btn-secondary" role="button" aria-pressed="true">Plus de chiffres</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

			</div>
</div>
{% endblock %}
