{% extends 'base.html.twig' %}

{% block title %}Post index
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


{% endblock %}

{% block body %}
<br>
        <div class="box-body p-15">	
        <div class="row">
        <div class="col-md-3">
         <span class="text-info"><h1>Lists User Posts</h1></span>
        </div>
         <div class="col-md-7">

        </div>
        <div class="col-md-2">
        <a href="{{ path('app_article_new') }}" class="btn btn-primary pull-right" >Create new</a><br>

        </div>

        </div>
<br>
    <div class="table-responsive well">
    <table class="table table-hover no-wrap dataTable no-footer" id="tab">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>User Email</th>

                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.description }}</td>
                <td>{{app.user.email}}</td>

                <td><span class="bg-light">{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</span></td>
                <td>
                    <a href="{{ path('app_article_show', {'id': post.id}) }}" class="btn btn-sm btn-info"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('app_article_edit', {'id': post.id}) }}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i> </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>

{% endblock %}
